body {
    background-color: #000000;
}

p, h1 {
    color: white;
}

header {
    text-align: center;
}

section {
    background-color: #0001;
    text-align: center;
    
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#img {
    /* float: left; */
    width: 150px;
    padding: 15px;
    margin: auto;
   /*  margin: 15px; */
}

#text {
    /* float: right; */
    padding: 15px;
}

